In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("data.csv")

In [4]:
data

    Height  Weight
0     1.47   52.21
1     1.50   53.12
2     1.52   54.48
3     1.55   55.84
4     1.57   57.20
5     1.60   58.57
6     1.63   59.93
7     1.65   61.29
8     1.68   63.11
9     1.70   64.47
10    1.73   66.28
11    1.75   68.10
12    1.78   69.92
13    1.80   72.19
14    1.83   74.46

In [7]:
independent=data[["Height"]]

In [8]:
independent

    Height
0     1.47
1     1.50
2     1.52
3     1.55
4     1.57
5     1.60
6     1.63
7     1.65
8     1.68
9     1.70
10    1.73
11    1.75
12    1.78
13    1.80
14    1.83

In [9]:
dependent=data[["Weight"]]

In [10]:
dependent

    Weight
0    52.21
1    53.12
2    54.48
3    55.84
4    57.20
5    58.57
6    59.93
7    61.29
8    63.11
9    64.47
10   66.28
11   68.10
12   69.92
13   72.19
14   74.46

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
train_test_split(independent,dependent,test_size=0.30, random_state=0)

[    Height
 4     1.57
 2     1.52
 13    1.80
 10    1.73
 7     1.65
 11    1.75
 3     1.55
 0     1.47
 5     1.60
 12    1.78,     Height
 1     1.50
 6     1.63
 8     1.68
 9     1.70
 14    1.83,     Weight
 4    57.20
 2    54.48
 13   72.19
 10   66.28
 7    61.29
 11   68.10
 3    55.84
 0    52.21
 5    58.57
 12   69.92,     Weight
 1    53.12
 6    59.93
 8    63.11
 9    64.47
 14   74.46]

In [15]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [16]:
x_train

    Height
4     1.57
2     1.52
13    1.80
10    1.73
7     1.65
11    1.75
3     1.55
0     1.47
5     1.60
12    1.78

In [17]:
x_test

    Height
1     1.50
6     1.63
8     1.68
9     1.70
14    1.83

In [20]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
y_pred=regressor.predict(x_test)

In [22]:
y_pred

array([[53.1008463 ],
       [60.8890856 ],
       [63.88456226],
       [65.08275292],
       [72.87099222]])

In [25]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [26]:
r_score

0.9816224797640156

In [27]:
import pickle

In [32]:
filename="filnalzed_data.sav"
pickle.dump(regressor,open(filename,'wb'))

In [34]:
loaded_model=pickle.load(open("filnalzed_data.sav",'rb'))
result=loaded_model.predict([[2]])

In [35]:
result

array([[83.05561284]])